/*Needed to be declared or else the scrollbar style wont apply*/
/*Overrides the native appearance of the arrows*/
::-webkit-scrollbar {
  height: 10px; /*Affects only the horizontal scrollbar*/
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: yellow;
  border-radius: 20px;
}
::-webkit-scrollbar-track:horizontal {
  border-radius: 20px;
  background-color: grey;
}
