/*Needed to be declared or else the scrollbar style wont apply*/
/*Overrides the native appearance of the arrows*/
.scrollbar-custom {
  scrollbar-width: auto;
  scrollbar-color: yellow;
}
.scrollbar-custom::-webkit-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: yellow;
}
.scrollbar-custom::-webkit-scrollbar-track:horizontal {
  background-color: black;
  border-radius: 15px;
}
.scrollbar-custom::-webkit-scrollbar-thumb:horizontal {
  background-color: yellow;
  border-radius: 20px;
}
.scrollbar-custom::-webkit-scrollbar-button:increment {
  height: 12px;
  width: 12px;
  background-color: yellow;
  border-radius: 6px;
}
